<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6>LATEST MOVIE NEWS</h6>
  <ion-card class="article-card">
    <img src="assets/awards.png" />
    <ion-card-header>
      <ion-card-title
        >Awards Season Calendar: Key Dates for Oscars, Emmys and
        Tonys</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      With the 2024 Oscars now in the rearview mirror, Hollywood's focus turns
      to Emmy season. A number of TV awards shows are set to take place over the
      next few months, including the BAFTA TV Awards, the Critics Choice Real TV
      Awards and, of course, the Primetime Emmys.
    </ion-card-content>
  </ion-card>

  <ion-card class="article-card">
    <img src="assets/cannes.png" />
    <ion-card-header>
      <ion-card-title
        >Sideshow & Janus Films Take Leos Carax's "It's Not Me" for North
        America</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      Sideshow and Janus Films scooped up another buzzy title out of Cannes,
      acquiring It's Not Me from French auteur Leos Carax (Holy Motors, Annette)
      for North America.
    </ion-card-content>
  </ion-card>

  <ion-card class="article-card">
    <img src="assets/atj.png" />
    <ion-card-header>
      <ion-card-title
        >Anya Taylor-Joy on Why She Fights for Female Rage to Be Depicted on
        Screen</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      Anya Taylor-Joy is opening up about why she has fought for several of her
      characters to express onscreen rage. During a wide-ranging interview for a
      GQ cover story, the Emmy-nominated actress revealed the instances where
      she pushed to change an emotional scene that saw her character crying to
      one that invoked anger.
    </ion-card-content>
  </ion-card>
</ion-content>
