<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ movie?.title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="imageBaseUrl + '/w1280' + movie?.backdrop_path" />
  <div class="movie-card-title" *ngIf="movie">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <h4>{{movie.title}}</h4>
          <span>
            RELEASED IN <br /><b>
              {{ movie.release_date | date : "y" }}
            </b></span
          >
          <br />
          <p class="tagline">{{ movie.tagline }}</p>
          <br />
        </ion-col>
        <ion-col size="4">
          <img
            [src]="imageBaseUrl + '/w500' + movie.poster_path"
            class="movie-card-img"
          />
        </ion-col>
      </ion-row>
      <ion-row class="bottomRow">
        <ion-col>
          <span>GENRE</span> <br />
          <span *ngFor="let g of movie.genres; let isLast = last" class="genre">
            {{ g.name }} {{ !isLast ? ' · ' : '' }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="lastRow">
        <ion-col>
          <p> {{movie.overview}} </p>
        </ion-col>
      </ion-row>
      <ion-row class="middleRow">
        <ion-col>
          <span>AVERAGE SCORE</span> <br />
          <span class="genre"> 
            {{ movie.vote_average | number : "1.0-1" }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span> REVIEWS <br /></span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
