<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    show-clear-button="focus"
    placeholder="Enter movie title"
    class="custom"
    [(ngModel)]="query"
    (ionInput)="searchMovies()"
  ></ion-searchbar>
  <div class="movie-list">
    <ion-list *ngIf="searchResults">
      <app-movie-element
        *ngFor="let movie of searchResults.results"
        [movie]="movie"
        [routerLink]="movie.id"
      >
      </app-movie-element>
    </ion-list>
  </div>
</ion-content>
