.movie-list {
  margin-right: 10px;
}

h6 {
  margin-left: 20px;
  padding-top: 7px;
  font-size: 16px;
}

.no-reviews {
  text-align: left;
  color: #b2b2b2;
  margin-top: -3px;
  margin-bottom: 18px;
}

h5 {
  margin-left: 10px;
  font-size: 16px;
}
